<!-- Complete Email template -->

<body style="background-color:lightgray">
	<table align="center" border="0" cellpadding="0" cellspacing="0"
		width="550" height="500" bgcolor="white" style="border:2px solid darkgray">
		<tbody>
			<tr>
				<td align="center">
					<!-- COMPANY LOGO -->
					<!-- <table align="center" border="0" cellpadding="0"
						cellspacing="0" class="col-550" width="550">
						<tbody>
							<tr>
								<td align="center" style="background-color: white;
										height: 50px;">
										<br><br>
										<a href="https://www.merchant.co.th">
<img class="img-fluid fadeInDown homepage-logo animated" width="130" height="130" src="https://www.merchant.co.th/assets/images//frontend/logo.png" alt="Merchant Partners"
</a>
								</td>
							</tr>
						</tbody>
					</table> -->
				</td>
			</tr> 
			<!-- <tr style="height: 200px;">
				<td align="center" style="border: none;
						border-bottom: 2px solid darkgray;
						padding-right: 20px;padding-left:20px">
					<p style="font-weight: bolder;font-size: 32px;
							letter-spacing: 0.025em;
							color:black;">
						แจ้งผล {{appName}} 
					</p>
				</td>
			</tr> -->
			<tr>
				<td></td>
			</tr>
						<tr style="display: inline-block;">
				<td style="height: 150px;
						padding: 20px;
						border: none;
						background-color: white;">
					
					<h3 style="text-align: left;
							align-items: center;">
						เรียนคุณ {{custName}}
				   </h3>

        <p style="font-family:Arial;font-size:14px;margin-top:0px;margin-bottom:0px;font-weight:normal;color:#000000">
          <span style="color:#333333"><span style="font-size:12px"><span style="font-family:Arial"><span style="font-weight:400"><span style="background-color:#ffffff">
            <!-- สืบเนื่องจากประกาศเรื่องการปิ<wbr>ดระบบซื้อ-ขายเหรียญดิจิทัลทุ<wbr>กสกุลชั่วคราว -->
						<!-- {{ compName }}	
						<br>
						แจ้งผลดำเนินการบันทึกการให้ความยินยอม -->
						<!-- <br> -->
						<!-- <table>
							<tbody>
								<tr><td>หมายเลข</td><td><strong>{{reqObj.reqRef}}</strong></td></tr>
								<tr><td>เรื่อง</td><td><strong>{{reqObj.reqTopic}}</strong></td></tr>
								<tr><td>รายละเอียด</td><td>
										<textarea rows="4" cols="50" readonly="True" >{{reqObj.reqDetail}}</textarea>
								</td></tr>
							</tbody>
						</table>						
						<hr> -->
						<table>
							<tbody>
								<!-- <tr><td>{{ compName }}	</td></tr> -->
								<tr><td>
									<p><b>เรื่อง: แจ้งผลดำเนินการบันทึกการให้ความยินยอม</b></p>
									<br>
									<!-- <p>ตามที่ท่านได้แจ้งข้อมูลการให้ความยินยอมกับบริษัท   ทางบริษัทได้ทำการบันทึกผลเรียบร้อยแล้ว</p> -->
									<!-- <p style="text-align: center;">บริษัทได้ทำการบันทึกผลเรียบร้อยแล้ว </p>
										<p>ท่านสามารถตรวจสอบความถูกต้องได้ที่ <a href='{{ compAppLink }}'>Link</a> นี้ </p> -->

										<p  style='text-indent: 50px;'>บริษัทขอเรียนให้ทราบว่า บริษัทได้ดำเนินการบันทึกข้อมูลตามที่คุณแจ้งไว้กับทางบริษัทเรียบร้อยแล้ว  ทั้งนี้ คุณสามารถตรวจสอบผลของการทำรายการได้ ที่เมนูประวัติการทำรายการ ที <a href='{{ compAppLink }}'>Link</a> นี้ </p>
									<br>
									<small>
									<p>หากมีข้อสงสัย สามารถสอบถามเพิ่มเติมได้ที่:</p>
										<ul>
											<li> โทรศัพท์: {{ compContact_dpo_tel }} (วันจันทร์ถึงศุกร์ เวลา 8.30 - 17.00 น. )</li>
											<li> อีเมล: {{ compContact_dpo_mail }}</li>
										</ul>
									</small>
								</td></tr>
								<!-- <br>
								<tr><td></td></tr>
								<tr><td>ตามที่ท่านได้แจ้งข้อมูลการให้ความยินยอมกับบริษัท   ทางบริษัทได้ทำการบันทึกผลเรียบร้อยแล้ว</td></tr> -->
								<!-- <tr><td>จึงแจ้งมาเพื่อทราบ</td></tr> -->
							</tbody>
						</table>
            <!-- <br>
						ท่านสามารถตรวจสอบข้อมูลผ่านระบบ <a href="{{ compLink }}"> ตามลิงค์นี้ </a> -->
						<br>
            
          </span></span></span></span></span></p>
					<!-- </p> -->
					<!-- <p>
						<a href="https://www.merchant.co.th/"
						style="text-decoration: none;
								color:blak;
								border: 2px solid darkgoldenrod;
								padding: 10px 30px;
								font-weight: bold;">
						ข้อมูลเพิ่มเติม
					</a>
					</p> -->
				</td>
			</tr>
		<!-- <tr>
				<td style="padding: 10px;">
					<p>ขอแสดงความนับถือ</p>
				</td>
		</tr> -->

		<tr style="text-align: center;">
			<td>
				<small>อีเมลฉบับนี้เป็นการแจ้งข้อมูลจากระบบโดยอัตโนมัติ กรุณาอย่าตอบกลับ </small>
				<br>
				<small>This email is auto-generated. Please do not reply. </small>
			</td>
		</tr>
		<br>
			<tr style="padding:0;">
				<td style="padding: 10px;">
					<br>
					<small>ขอแสดงความนับถือ</small><br>
					<small>{{ compName }}</small><br>
					<img class="img-fluid fadeInDown homepage-logo animated" width="140" height="50" src="{{compLogoLink}}" alt="">
					<p style="width:400px"><small>{{ compAddr }}</small></p>
				</td>
			</tr>
			<!-- <tr>
				<td style="padding: 10px;">
					<p style="width:400px">{{ compAddr }}</p>
				</td>
			</tr> -->
			<tr style="border: none;
			background-color: darkgoldenrod;
			height: 40px;
			color:white;
			padding-bottom: 20px;
			text-align: center;">
				
<td height="40px" align="center">
	<!-- <a href="#"
	style="border:none;
		text-decoration: none;
		padding: 5px;">
			
	<img height="30"
	src=
"https://extraaedgeresources.blob.core.windows.net/demo/salesdemo/EmailAttachments/icon-twitter_20190610074030.png"
	width="30" />
	</a>
	
	<a href="#"
	style="border:none;
	text-decoration: none;
	padding: 5px;">
	
	<img height="30"
	src=
"https://extraaedgeresources.blob.core.windows.net/demo/salesdemo/EmailAttachments/icon-linkedin_20190610074015.png"
width="30" />
	</a>
	
	<a href="#"
	style="border:none;
	text-decoration: none;
	padding: 5px;">
	
	<img height="20"
	src=
"https://extraaedgeresources.blob.core.windows.net/demo/salesdemo/EmailAttachments/facebook-letter-logo_20190610100050.png"
		width="24"
		style="position: relative;
			padding-bottom: 5px;" />
	</a> -->
</td>
</tr>

<!-- <tr>
	<td>
		<small>อีเมลฉบับนี้เป็นการแจ้งข้อมูลจากระบบโดยอัตโนมัติ กรุณาอย่าตอบกลับ </small>
		<br>
		<small>This email is auto-generated. Please do not reply. </small>
	</td>
</tr> -->
	
		</tbody>
	</table>
</body>
