<!-- https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#add -->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th {
	background: #999999;
}
th, td {
  text-align: left;
  padding: 8px;
}

.colHead {
  width :150px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>
</head>
<body>

<h2>{{ data.compCode }}: {{dear}} .</h2>
<!-- <p>Resize the browser window to see the effect. Try to remove the div element and see what happens to the table.</p> --> 

<div style="overflow-x:auto;">
  <table>
    <tr><td class="colHead">เลขอ้างอิง</td><td>{{ data.reqRef }}</td></tr>
    <tr><td class="colHead">ผู้ร้องขอ</td><td>{{ data.custCode }}</td></tr>
    <tr><td class="colHead">เรื่อง</td><td>{{ data.reqTopic }}</td></tr>
    

    {% if data.requestDate != "" and data.requestDate != None %}
    <tr><td class="colHead">วันที่ขอ</td><td>{{ data.requestDate }}</td></tr>
    {% endif %}

    {% if data.createDate != "" and data.createDate != None %}
    <tr><td class="colHead">วันที่ทำรายการ</td><td>{{ data.createDate }}</td></tr>
    {% endif %}

    {% if data.reqCode != "consent" and data.reqDetail != "" and data.reqDetail != None %}
    <tr><td class="colHead">รายละเอียด</td><td>
      {% block content %}
      {{ data.reqDetail}}
      {% endblock content %}
    </td></tr>
    {% endif %}

    {% if data.reqCode == "wealthRegister" and data.reqAccounts != "" and data.reqAccounts != None %}
    <tr><td class="colHead">จำนวนบัญชี</td><td>
      {% block content2 %}
      {{ data.reqAccounts}}
      {% endblock content2 %}
    </td></tr>
    {% endif %}

    {% if data.reqStatus != "" and data.reqStatus != None %}
    <tr><td class="colHead">สถานะ</td><td>{{ data.reqStatusTxt }}</td></tr>
    {% endif %}

    {% if data.reqCode != "consent" and data.respDescription != "" and data.respDescription != None %}
    <!-- <tr><td class="colHead">ข้อความตอบกลับ</td><td>{{ data.respDescription|safe }}</td></tr> -->
    <tr><td class="colHead">ข้อความตอบกลับ</td><td>
      {{ data.respDescription|safe }}
    </td></tr>
    {% endif %}

    
		</tr>
  </table>
</div>

</body>
</html>
