<!-- Complete Email template -->
<body style="background-color:lightgray;    font-family: sans-serif; font-size:14px">
	<table align="center" border="0" cellpadding="0" cellspacing="0"
		width="550" height="500" bgcolor="white" style="border:2px solid darkgray">
		<tbody>
			<tr>
				<td align="center">
				</td>
			</tr> 
			<tr>
				<td></td>
			</tr>
				<tr style="display: inline-block;">
				<td style="height: 150px;
						padding: 20px;
						border: none;
						">
					
					<p style="text-align: left;
							align-items: center;">
						เรียน ท่านลูกค้า
				</p>
				<p>เรื่อง {{subject}}</p>
				<p>
				คำขอของท่านอยู่ระหว่างการดำเนินการ บริษัทจะแจ้งผลการดำเนินการ ภายใน {{proc_day}}  วัน<br>
				ตามคำขอให้ดำเนินการ : {{reqObj.reqTopic}}<br>  
				ท่านสามารถตรวจสอบสถานะได้ที่เมนู > ประวัติทำรายการที่ <a href='{{ compAppLink }}'>Link</a> นี้
				</p>
						
				{% include "mail/email_footer.html" %}					
				</td>
			</tr>
</tr>
		</tbody>
	</table>
</body>
