<!-- Complete Email template -->
<body style="background-color:lightgray;    font-family: sans-serif; font-size:14px">
	<table align="center" border="0" cellpadding="0" cellspacing="0"
		width="550" height="500" bgcolor="white" style="border:2px solid darkgray">
		<tbody>
			<tr>
				<td align="center">
				</td>
			</tr> 
			<tr>
				<td></td>
			</tr>
				<tr style="display: inline-block;">
				<td style="height: 150px;
						padding: 20px;
						border: none;
						">
					
					<p style="text-align: left;align-items: center;">
						เรียน ท่านลูกค้าที่นับถือ
					</p>
					<p>
						บริษัทได้ดำเนินการตามคำขอ : แจ้งความประสงค์ขอใช้สิทธิลดหย่อนภาษี<br>
						ไปยัง บลจ. ที่ท่านได้แจ้งความประสงค์ไว้เรียบร้อยแล้ว
					</p>
							
					<div style="font-family: sans-serif; font-size:14px; margin-top:10px;">
						<p>อีเมลฉบับนี้เป็นการแจ้งข้อมูลจากระบบอัตโนมัติ กรุณาอย่าตอบกลับ</p>
						<p>หากมีข้อสอบถามกรุณาติดต่อในวันจันทร์ - วันศุกร์ เวลา 8.30 - 17.00 น.ได้ที่ 
						<span style="display: inline-block;">โทรศัพท์ 02-660-6677</span>  หรือ <span style="display: inline-block;">Email : op@merchantasset.co.th</span></p>
						ขอแสดงความนับถือ  <br>
						{{ compName }}<br>
						<img class="img-fluid fadeInDown homepage-logo animated" width="140" height="50" src="{{compLogoLink}}" alt="">
						{% autoescape off %} 
						<p style="width:400px">{{ compAddr|safe }}</p>
						{% endautoescape %}
					</div>		

				</td>
			</tr>
	</tr>
		</tbody>
	</table>
</body>
