<!-- Complete Email template -->
<body style="background-color:lightgray;   color:black  font-family: sans-serif; font-size:14px">
	<table align="center" border="0" cellpadding="0" cellspacing="0"
		width="550" height="500" bgcolor="white" style="border:2px solid darkgray">
		<tbody>
			<tr>
				<td align="center">
				</td>
			</tr> 
			<tr>
				<td></td>
			</tr>
				<tr style="display: inline-block;">
				<td style="height: 150px;
						padding: 20px;
						border: none;
						">
					
				<p style="text-align: left; align-items: center;">
						เรียน  ท่านนักลงทุน
				</p>
				<p style="text-align: left; align-items: center;">
					เรื่อง บัญชี Merchant Smart Invest ของท่านพร้อมเริ่มลงทุน
				</p>
				<p></p>
				<p>
					บริษัทหลักทรัพย์จัดการกองทุน เมอร์ชั่น พาร์ทเนอร์ จำกัด มีความยินดีขอเรียนให้ท่านทราบว่า บัญชี Merchant Smart Invest พร้อมให้ท่านเริ่มลงทุนแล้ว ผ่าน Application Streaming Fund+ บริษัทฯ ใคร่ขอขอบพระคุณท่านที่ให้ความไว้วางใจ และใช้บริการด้วยดีเสมอมา โดยท่านสามารถศึกษารายละเอียด Merchant Smart Invest <a href="https://www.merchant.co.th/en/merchant-smart-invest" >ที่นี่</a>
				</p>
				<p>
					ท่านจะได้รับรายงานการลงทุนประจำเดือน จากอีเมล wealthservice@merchantasset.co.th หัวข้อ Merchant Smart Invest Monthly Update รายงานอัพเดทสภาวะตลาดและกลยุทธ์การลงทุนประจำเดือนจากทีมผู้เชี่ยวชาญ
				</p>
				<p>
					อีกทั้งท่านจะได้รับการแจ้งเตือน จากอีเมล  STTFundAdmin@settrade.com   หัวข้อ Streaming Fund+ สำหรับการแจ้งเตือนดังต่อไปนี้
				</p>

				<ul style="list-style-type:square">
					<li>สรุปภาพรวมการลงทุน ทุกวันที่ 1 ของแต่ละเดือน</li>
					<li>แจ้งเตือนปรับพอร์ตการลงทุนเพื่อรักษาระดับสัดส่วนการลงทุนในสินทรัพย์ประเภทต่างๆ</li>
					<li>แจ้งเตือนเมื่อมูลค่าการลงทุนลดลงมากกว่าที่ท่านได้ตั้งค่าไว้</li>
					<li>แจ้งการเปลี่ยนแปลงกองทุนของแผนการลงทุน</li>
				</ul>
				
				<div style="font-family: sans-serif; font-size:14px; margin-top:10px;">
					
							<p>อีเมลฉบับนี้เป็นการแจ้งข้อมูลจากระบบอัตโนมัติ กรุณาอย่าตอบกลับ</p>
							<p>หากมีข้อสอบถามกรุณาติดต่อในวันจันทร์ - วันศุกร์ เวลา 8.30 - 17.00 น.ได้ที่ 
							<span style="display: inline-block;">โทรศัพท์ 02-660-6689</span>  หรือ <span style="display: inline-block;">Email : wealthservice@merchantasset.co.th</span></p>
					
					<p>
						คำเตือน : ทำความเข้าใจลักษณะสินค้า เงื่อนไขผลตอบแทนและความเสี่ยงก่อนตัดสินใจลงทุน
					</p>
					ขอแสดงความนับถือ  <br>
					{{ compName }}<br>
					<img class="img-fluid fadeInDown homepage-logo animated" width="140" height="50" src="{{compLogoLink}}" alt="">
					{% autoescape off %} 
					<p style="width:400px">{{ compAddr|safe }}</p>
					{% endautoescape %}
					<p style="color:gray  ">
						<b>Disclaimer:</b> จดหมายอิเล็กทรอนิกส์ฉบับนี้มีวัตถุประสงค์ เพื่อแจ้งให้ท่านนักลงทุนทราบผลการขอใช้งาน Merchant Smart Invest และสิทธิประโยชน์ต่างๆ ดังนั้น หากท่านมิได้เป็นลูกค้าหรือผู้ขอใช้บริการตามรายชื่อข้างต้น โปรดแจ้งให้ผู้ส่งจดหมายทราบและลบข้อมูลดังกล่าวออกจากระบบ รวมถึงขอให้ทำลายคู่มือการใช้งานที่แนบ โดยทันที
					</p>
			</div>						
				</td>
			</tr>
</tr>
		</tbody>
	</table>
</body>
