<!-- https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#add -->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th {
	background: #999999;
}
th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>
</head>
<body>

<h2>{{ compCode }}: Merchant Smart Wealth Registration report on {{ currentDate }}  Amount {{ dataList|length}} </h2>
<!-- <p>Resize the browser window to see the effect. Try to remove the div element and see what happens to the table.</p> --> 

<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Request Nuber</th>
      <th>Requestor</th>
      <th>Create Date</th>
      <th>Day</th>
      <th>Topic</th>
      <th>Accounts</th>
      <th>Status</th>
    
    </tr>
		{% for obj in dataList %}
		<tr>
				<td>{{ obj.reqRef }}</td>
				<td>{{ obj.custCode }} </td>
				<td>{{ obj.createDate }} </td>
				<td>{{ obj.deltaCreateDate }}</td>
				<td>{{ obj.reqTopic }}</td>
				<td>{{ obj.reqAccounts }}</td>
				<td>{{ obj.reqStatusTxt }}</td>
		</tr>
		{% endfor %}
  </table>
</div>

</body>
</html>
