<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      p {
          margin-left: 40px;
      }

      .card-text-box{
        width: 100px;
        border: 1px solid #808080;
        background-color: #DCDCDC;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;

      }
  </style>
  </head>
      <body>
        <br>
        <div>
            <div class="container">
                <div class="card-header">
                 <h3>Ref : {{reqRef}}</h3> 
                 <h3>ผู้สมัคร : {{requestor}}</h3> 
                 <small>{{createDate}}</small> 
                </div>
                <div class="card-body">
                  <h3 class="card-title">จำนวนบัญชี</h3>
                  <p class="card-text-box">{{reqAccounts}}</p>
                  <!-- <h3 class="card-title">รายละเอียด</h3>
                  <p class="card-text-box">{{reqDetail}}</p>
     -->
                 
                </div>
              </div>
        </div>
    </body>
</html>